<header class='header'>
  <ファミショップ>



  <div class='links'>
    <ul class='link-list'>
      <li><%= link_to '新規アイテム登録', "#", class: "link-botn" %></li>
      <li><%= link_to '買い物リスト登録', "#", class: "link-botn" %></li>
      <li><%= link_to '買い物履歴', "#", class: "link-botn" %></li>
      <li><%= link_to '家族解除', "#", class: "link-botn" %></li>
    </ul>
  </div>
</header>