.item-contents {
  background-color: #fce4ec;
  width: 100vw;
  height: 100vh;
}

.title-block {
  display: flex;
  justify-content: center;
}

.title {
  font-size: 20px;
  color: lightsalmon;
}

.item-lists {
  list-style: none;
  padding: 0;
  background-color: #fce4ec;
}

.item-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

.item-category {
  width: 150px;
  background-color: #ddd;

}

.item-name {
  width: 250px;
  background-color: #ddd;
}

.item-price {
  width: 100px;
  background-color: #ddd;
}

.item-quantity {
  width: 100px;
  background-color: #ddd;
}

.item-shop {
  width: 150px;
  background-color: #ddd;
}

.item-remarks {
  width: 200px;
  background-color: #ddd;
}

.item-done-checkbox {
  width: 100px;
}

.sell-btn-block {
  display: flex;
  justify-content: center;
}